:root {
  --headerHeight: 70px;
  --content-py: 20px;

  --primary: hsl(257.56deg 57.75% 41.76%);
  --primary-light: hsl(257.56deg 57.75% calc(41.76% * 1.2));
  --primary-dark: hsl(257.56deg 57.75% calc(41.76% / 1.2));
  --primary-rgba-25: hsl(257.56deg 57.75% 41.76% / 50%);
  --primary-rgba-25: hsl(257.56deg 57.75% 41.76% / 25%);

  --secondary: hsl(209.84deg 78.72% 46.08%);
  --secondary-light: hsl(209.84deg 78.72% calc(46.08% * 2));
  --secondary-dark: hsl(209.84deg 78.72% calc(46.08% / 1.2));
  --secondary-rgba-25: hsl(209.84deg 78.72% 46.08% / 25%);
}

@font-face {
  font-family: Ubuntu;
  src: url('/font/Ubuntu-Regular.ttf');
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 18px;
  font-family: Ubuntu;
}

.app {
  height: 100%;
  background-image: url('/img/s2.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
  line-height: 1.2;
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}

.btn {
  @apply shadow;
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid;
  border-radius: 6px;
  line-height: 1.3;
  text-align: center;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover:not(&:disabled) {
    text-decoration: none;
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }
  &:active:not(&:disabled),
  &:focus:not(&:disabled) {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    box-shadow: 0 0 0 3.2px var(--primary-rgba-50);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &_sm {
    padding: 4px 8px;
    font-size: 0.875rem;
    border-radius: 4px;
  }
}

a,
.link {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  color: var(--secondary);
  transition: 0.15s;
  &:hover {
    text-decoration: underline;
  }
  &_disabled {
    color: black;
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      text-decoration: none;
    }
  }
}

.input {
  @apply border border-slate-300;
  display: block;
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  background-clip: padding-box;
  appearance: none;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &_hover:hover {
    border-color: var(--primary);
  }
  &:focus {
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 4px var(--primary-rgba-25);
  }
  &_inline {
    width: auto;
  }
}

.fa,
.far {
  color: var(--primary);
  transition: color 0.15s;
  &_big {
    padding: 2px 5px;
  }
  &_link {
    cursor: pointer;
    user-select: none;
    &:hover {
      text-decoration: none;
      color: var(--secondary);
    }
  }
  &_hint {
    font-size: 20px;
    cursor: help;
    user-select: none;
  }
  &_secondary {
    color: var(--secondary);
  }
  &_noColor {
    color: inherit;
  }
}

table {
  width: 100%;
  & th,
  & td {
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
  }
  & th {
    @apply bg-gray-100;
    color: var(--secondary);
    text-align: left;
  }
}

.table {
  &_inner {
    position: relative;
    &:before,
    &:after {
      @apply bg-gray-100;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 6px;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }

    & tr:last-child td {
      border: none;
    }

    & th {
      @apply text-sm;
      color: var(--primary);
    }
  }
}

.nav-link {
  padding: 0px 6px;
  padding-bottom: 2px;
  margin-right: 20px;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
  &_active {
    background: #fff;
    color: var(--primary);
    &:hover {
      color: var(--primary);
      text-decoration: none;
    }
  }
}

.spinner {
  --color: var(--primary);
  --altColor: var(--secondary);
  --radius: 10px;
  --size: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--radius) * 2 + var(--size) * 3.5);
  height: calc(var(--radius) * 2 + var(--size) * 3.5);

  &:before {
    display: block;
    height: var(--size);
    width: var(--size);
    content: '';
    animation: spin 1.5s infinite;
    border-radius: 100%;
    box-shadow: var(--radius) 0 0 var(--size) var(--color),
      0 var(--radius) 0 var(--size) var(--altColor),
      0 calc(var(--radius) * -1) 0 var(--size) var(--altColor),
      calc(var(--radius) * -1) 0 0 var(--size) var(--color);
  }

  &_sm {
    --radius: 7px;
    --size: 2px;
  }

  &_md {
    --radius: 18px;
    --size: 5px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
