:root {
  --primary: hsl(257.56deg 57.75% 41.76%);
  --primary-light: hsl(257.56deg 57.75% calc(41.76% * 1.2));
  --primary-dark: hsl(257.56deg 57.75% calc(41.76% / 1.2));
  --primary-rgba-50: hsl(257.56deg 57.75% 41.76% / 50%);
  --primary-rgba-25: hsl(257.56deg 57.75% 41.76% / 25%);

  --secondary: hsl(209.84deg 78.72% 46.08%);
  --secondary-light: hsl(209.84deg 78.72% calc(46.08% * 2));
  --secondary-dark: hsl(209.84deg 78.72% calc(46.08% / 1.2));
  --secondary-rgba-25: hsl(209.84deg 78.72% 46.08% / 25%);
}

@font-face {
  font-family: Ubuntu;
  src: url('/font/Ubuntu-Regular.ttf');
}

html {
  font-size: 18px;
  font-family: Ubuntu;
}

.app {
  min-height: 100vh;
  background-image: url('/img/s2.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  color: var(--secondary);
  transition: 0.15s;
  &:hover {
    text-decoration: underline;
  }
  &_disabled {
    color: black;
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      text-decoration: none;
    }
  }
}
